<!--
@group BioPolymer MyGene.Info components

The 'bio-mygene-fields' element displays the available query fields from MyGene.info.

    <bio-mygene-fields ></bio-mygene-fields>
 


@element bio-mygene-fields
@status beta
-->

    <link rel="import" href="/bower_components/paper-elements/paper-elements.html">
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/bower_components/paper-input/paper-input.html">
    <link rel="import" href="/bower_components/core-ajax/core-ajax.html">
    <link rel="import" href="/bower_components/core-list/core-list.html">



    <polymer-element name="bio-mygene-fields" attributes="selectedFields">
      
      <template>
        
        <core-ajax auto id="ajax" url="http://mygene.info/v2/metadata" 
                    
            handleAs="json" response="{{response}}" on-core-error="{{handleError}}"
                    
        >
        </core-ajax>


        <select id="listBox" multiple="true" size="10" on-change="{{fieldSelectHandler}}">
        <template repeat="{{field in data}}">
              <option value="{{field}}">{{field}}</option>
         </template>
         </select>
        
        
      </template>

      <script>
      /**
       * Triggered whenever the user selects a field or set of fields.  Returns a comma-delimited list of 
       * values in the "model".  You can get this value via e.detail.model when adding an event listener.
       * @event selectedFieldsChanged  
       */



      Polymer('bio-mygene-fields', { 
        fieldSelectHandler: function(e){
          var options = this.$.listBox.selectedOptions;

          var selFields = [];
          for(var i = 0; i < options.length; i++){
            selFields.push(options[i].value);
          }
          this.selectedFields = selFields;
          this.fire("selectedFieldsChanged", {model: selFields});
        },
       
        responseChanged: function(){
            this.data = this.response.available_fields;
        },

        handleError: function(){
            console.log("error " + this.ajax.error);
        }

        

      });

      
      </script>

      
    </polymer-element>
