<!--
@group BioPolymer MyGene.Info components

The 'bio-mygene-fields' element displays the available query fields from MyGene.info.

    <bio-mygene-info></bio-mygene-info>
 


@element bio-mygene-info
@status beta
-->

<link rel="import" href="/bower_components/paper-elements/paper-elements.html">
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/core-ajax/core-ajax.html">
<link rel="import" href="/bower_components/core-list/core-list.html">



<polymer-element name="bio-mygene-info" attributes="data title">


  <template><span>{{data}}</span></template>


    <table>


        <template if="{{title}}">
            <caption>{{title}}</caption>
        </template>

        <template if="{{data != null && data.symbol !=  null}}">
            <tr>
                <td>Symbol:</td>
                <td>{{data.symbol}}</td>
            </tr>
        </template>



    </table>

    <script>
   

    Polymer('bio-mygene-info', {
      ready:function(){
        console.log("data: " + this.data.symbol);
      },

      set data(val){
        this.data = JSON.stringify(eval(val));
      }

    });
    </script>


</polymer-element>
