

	<polymer-element name="bio-pdb-viewer" attributes="pdbId moleculeType size title">
	  <template>
	    <img id="pdbImg" title="{{title}}"/>
	  </template>
	  <script>
	    Polymer('bio-pdb-viewer', {
	      pdbId: "4LUC",
	      moleculeType: "bio",
	      size:"250",
	      title:"KRAS",
	      
	      pdbIdChanged: function(oldVal, newVal) {
	      	console.log("newVal: " + newVal)
    		this.$.pdbImg.src = "http://www.rcsb.org/pdb/images/" + this.pdbId +"_" + this.moleculeType +"_r_" + this.size+".jpg?bioNum=1/";
	      	console.log(this.$.pdbImg.src);
  		  },
	      ready: function(){
	      	this.$.pdbImg.src = "http://www.rcsb.org/pdb/images/" + this.pdbId +"_" + this.moleculeType +"_r_" + this.size+".jpg?bioNum=1/";
	      }
	    });
	  </script>
	</polymer-element>
