<!--
@group BioPolymer MyGene.Info components

The 'bio-mygene-search' element searches the MyGene.Info site for gene information.

    <bio-mygene-search fields="pdb"></bio-mygene-search>
 


@element bio-mygene-search
@status beta
-->


	<link rel="import" href="/bower_components/paper-elements/paper-elements.html">
	<link rel="import" href="/bower_components/polymer/polymer.html">
	<link rel="import" href="/bower_components/paper-input/paper-input.html">
	<link rel="import" href="/bower_components/core-ajax/core-ajax.html">
	<link rel="import" href="/bower_components/core-list/core-list.html">



	<polymer-element name="bio-mygene-search" attributes="fields">
	  
	  <template>	  	
	  	
	  	<paper-input id="symbolFld" label="Enter a gene symbol" floatingLabel="true" value="{{symbolValue}}" ></paper-input>
	  	<core-ajax id="ajax" url="http://mygene.info/v2/query" 
	  		handleAs="json" response="{{response}}" on-core-error="{{handleError}}"	
	  	>
	  	</core-ajax>
	  </template>

	  <script>
	  Polymer('bio-mygene-search', {

	  	/**
     	 * Fired when a response is received from the search
     	 * 
     	 * @event modelChanged
     	 */


	  	/**
	  	 * A comma-delimited list of fields to be returned. 
	  	 * @attribute fields
	  	 * @type string 
	  	 * @default 'all'
	  	 */
	    fields: 'all', 


	  	symbolValueChanged: function(){
	  		var newSymbol = this.symbolValue;
	  		
	  		if (newSymbol != null && newSymbol != ''){
	  			var symbolParam = "symbol:" + newSymbol;
	  			this.$.ajax.params = {"q":symbolParam, "fields":this.fields};
		  		this.$.ajax.go();

	  		}
	  	},
	  	
	  	responseChanged: function(){
	  		this.fire('modelChanged', {model: this.response.hits[0]});
	  	},

	  	handleError: function(){
	  		console.log("error " + this.ajax.error);
	  	}

	  });

	  
	  </script>

	  </polymer-element>