<!--
@group BioPolymer PDB components

The 'bio-pdb-list' element lists PDB IDs.  This element is used in conjunction with a data source that provides PDB IDs (like the bio-mygene-search component)

    <bio-pdb-list></bio-mygene-search>
 


@element bio-pdb-list
@status beta
-->


<link rel="import" href="/bower_components/paper-elements/paper-elements.html">
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/core-ajax/core-ajax.html">
<link rel="import" href="/bower_components/core-list/core-list.html">



<polymer-element name="bio-pdb-list" attributes="pdbIdList">

    <template>
        <link rel="stylesheet" href="bio-pdb-list.css">


        <core-list id="pdbList" data="{{data}}" selection="{{selection}}" selectionEnabled="true">

            <template repeat="{{model in data}}">
                <div class="item {{ {selected: selected} | tokenList }}">
                    <div id="{{model.name}}" class="message" on-click="{{symSelectHandler}}">
                        {{model.name}}
                    </div>
                </div>
            </template>

        </core-list>

    </template>

    <script>
    Polymer('bio-pdb-list', {

        /**
         * Triggered whenever the user selects a PDB ID from the list.
         * @event pdbIdChanged
         */

        /**
         * A list of PDB IDs.
         * @param pdbIdList
         * @type string array
         */
        pdbIdList: [],

        symSelectHandler: function(e) {
            var selected = e.srcElement.id;
            this.fire('pdbIdChanged', {
                pdbId: selected
            });
        },

        pdbIdListChanged: function() {

            var pdbIdList = this.pdbIdList;
            var data = [];

            for (i = 0; i < pdbIdList.length; i++) {

                data.push({
                    id: i,
                    name: pdbIdList[i],
                    details: pdbIdList[i],
                    value: pdbIdList[i],
                    type: 0,
                    checked: false
                });
            }
            this.data = data;
            console.log("Got here");
        },

        handleError: function() {
            console.log("error " + this.ajax.error);
        },
        ready: function() {
            pdbIdList = [];
        }



    });
    </script>


</polymer-element>
