	<link rel="import" href="/bower_components/paper-elements/paper-elements.html">
	<link rel="import" href="/bower_components/polymer/polymer.html">
	<link rel="import" href="/bower_components/paper-input/paper-input.html">
	<link rel="import" href="/bower_components/core-ajax/core-ajax.html">
	<link rel="import" href="/bower_components/core-list/core-list.html">



	<polymer-element name="bio-domain-list" attributes="domainList">
	  
	  <template>
	  	<link rel="stylesheet" href="bio-pdb-list.css" >
	  	
	  	<table>
	  	<caption>Protein Domains</caption>
	  	<thead>
	  	<tr><td>ID</td><td>Description</td></tr>
	  	</thead>
	  	<template repeat="{{domain in domainList}}">
		      <tr>
		      <td>{{domain.id}}</td>
		      <td>{{domain.desc}}</td>
		      </tr>
		</template>
		</table>

	  	</core-list>
	    
	  </template>

	  <script>
	  Polymer('bio-domain-list', { 
	  	symSelectHandler: function(e){
	  		var selected = e.srcElement.id;
	  		console.log("selected: " + selected);
	  		this.fire('pdbIdChanged', {pdbId: selected});
	  	},
	  	symbolChangeHandler: function(){
	  		var newSymbol = this.symbolValue;
	  		
	  		if (newSymbol != null && newSymbol != ''){
	  			var symbolParam = "symbol:" + newSymbol;
	  			this.$.ajax.params = {"q":symbolParam, "fields":"pdb"};
		  		this.$.ajax.go();
	  		}
	  	},
	  	selectionChanged: function(){
	  		console.log("got here: " + selection);
	  	},
	  	responseChanged: function(){
	  		
	  		var pdbIdList = this.response.hits[0].pdb;
	  		var pdbList = this.$.pdbList;
	  		var data = [];
	  		
	  		for (i = 0; i < pdbIdList.length; i++) {
	  			
		        data.push({
		          id: i,
		          name: pdbIdList[i],
		          details: pdbIdList[i],
		          value: pdbIdList[i],
		          type: 0,
		          checked: false
		        });
		    }
		    this.data = data;
	  		
	  	},
	  	handleError: function(){
	  		console.log("error " + this.ajax.error);
	  	},

	  	

	  });

	  
	  </script>

	  
	</polymer-element>
