<link rel="import" href="/bower_components/core-ajax/core-ajax.html">

<polymer-element name="bio-go-viewer" attributes="goList title">
	

    <template>
    <link rel="stylesheet" href="bio-go-viewer.css">
        <div class="container">
            
            <table>
				<caption class="title">{{title}}</caption>
            <thead>
            	<tr>
            		<th>ID</th>
            		<th>Term</th>
            		<th>Evidence</th>
            	</tr>
            </thead>
            <tbody>
            <template repeat="{{goEntry in goList}}">
                <tr>
                <td><a href="http://amigo.geneontology.org/amigo/term/{{goEntry.id}}">{{goEntry.id}}</a></td>
                
                <td>{{goEntry.term}}</td>
                
                <td>{{goEntry.evidence}}</td>
                </tr>
            </template>
            </tbody>
            </table>
        </div>
        <p/>

    </template>
    <script>
    Polymer('bio-go-viewer', {

    });
    </script>
</polymer-element>
